html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  margin: 0px;
  padding: 0px;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  font-family: 'Arial', sans-serif;
  font-size: 10px;
  color: #000;
  line-height: 1.35em;
  background-color: #1d1d1d;
}

#page {
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

figure {
  max-height: 800px;
  max-width: 800px;
  background-color: #272727;
  padding: 30px;
  border-radius: 7px;
}

iframe {
  padding: 0px;
  margin: 0px;
  border: none;
  height: 500px;
  width: 100%;
}

#controls {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: top;
  width: 100%;
}

#controls > * {
  margin: 5px;
}

.log-controls {
  color: #ccc;
  display: flex;
  flex-direction: row;
  height: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: -ms-fit-content;
}

.log-controls > * {
  margin: 0px 3px;
}

button {
  height: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: -ms-fit-content;
}
