@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap');

* {
  margin: 0px;
  padding: 0px;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  /* font-family: 'Work Sans', sans-serif; */
  font-family: 'Arial', sans-serif;
  font-size: 10px;
  color: #000;
  line-height: 1.35em;
  /* background-color: #006ec7; */
  background-color: #fff;
}

#page {
  margin: 0px 30px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#controls {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

iframe {
  margin: 20px 0px;
  width: 800px;
  height: 600px;
  border: 1px solid #eee;
}

#update-button,
#xlog-container,
#ylog-container {
  margin: 10px;
}
