html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  margin: 0px;
  padding: 0px;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  font-family: 'Arial', sans-serif;
  font-size: 10px;
  color: #000;
  line-height: 1.35em;
  background-color: #1d1d1d;
}

#page {
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

figure {
  max-height: 800px;
  max-width: 800px;
  background-color: #272727;
  padding: 30px;
  border-radius: 7px;
}

iframe {
  padding: 0px;
  margin: 0px;
  border: none;
  height: 500px;
  width: 100%;
}

#controls {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: top;
  width: 100%;
}

#controls > * {
  margin: 5px;
}

.log-controls {
  color: #ccc;
  display: flex;
  flex-direction: row;
  height: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: -ms-fit-content;
}

.log-controls > * {
  margin: 0px 3px;
}

/* reset button styles */
button {
  padding: 0;  
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.btn {
  height: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: -ms-fit-content;

  display: inline-block;
  text-align: center;
  text-decoration: none;

  margin: 2px 0px;

  border: 1px solid transparent;
  border-radius: 4px;

  padding: 0.5em 1em;

  color: #eee;
  background-color: rgba(59, 93, 143, 1.0);
}

.btn:active {
  background-color: rgba(59, 93, 143, 0.5);
}

.btn:hover {
  border-color: currentColor;
}

#y-clear {
  background-color: #4a4a4a;
}

#y-clear:active {
  background-color: #2a2a2a;
}

.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple {
  background-color: #1a1a1a;
  color: #ccc;
}

.select2-search,
.select2-search input {
  background-color: #1a1a1a;
  color: #ccc;
}

.select2-results { 
  background-color: #1a1a1a;
  color: #ccc;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #2a2a2a;
  color: #ccc;
  border: 1px solid #ccc;
}

.select2-container--default .select2-results__option--selected {
  background-color: #444;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #ccc;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
   background-color: rgba(59, 93, 143, 1.0);
  color: #fff;
}
