{% extends "layout.html" %}
{% block content %}

{% if plot %}
<iframe id='plot' scrolling='no' src='./plots/plot.html'></iframe>
{% else %}
<p> Plot not yet built </p>
{% endif %}

<div id='controls'>
  <div id='ylog-container'> 
    <input type='checkbox' id='ylog' name='ylog'>
    <label for='ylog'> log </label>
  </div>

  <select class='js-example-placeholder-multiple' name='y' id='y' multiple='multiple'>

  {% for key in data.keys() %}
    <option value='{{ key }}' {% if key in ykeys %} checked {% endif %}>
      {{ key }}
    </option>
  {% endfor %}

  </select>

  <div id='xlog-container'> 
    <input type='checkbox' id='xlog' name='xlog'>
    <label for='xlog'> log </label>
  </div>

  <select class='js-example-placeholder-single' name='x' id='x'>

    <!-- select2 requires an empty option for placeholder in single selects -->
    <option></option>

    {% for key in data.keys() %}
    <option value='{{ key }}' {% if key == xkey %} checked {% endif %}>
    {{ key }}
    </option>
    {% endfor %}
  </select>

  <button id='update-button' onclick='update_plot()'>
    Update
  </button>
</div>

{% endblock %}
