{% extends "layout.html" %}
{% block content %}

<figure>
<figcaption>
<button class='btn clear-btn' onclick='clear_selections("#filename")'> Clear </button>
<select class='js-example-placeholder-multiple' name='filename' id='filename' multiple='multiple'>
</select>
<button class='btn' onclick='update_paths()'> Update </button>
</figcaption>

{% if plot %}
<iframe id='plot' scrolling='no' src='./plots/plot.html'></iframe>
{% else %}
<p> Plot not yet built </p>
{% endif %}

<figcaption id='controls'>
    <button class='btn clear-btn' onclick='clear_selections("#y")'> Clear </button>
    <div class='log-controls'>
        <input type='checkbox' id='ylog' name='ylog'>
        <label for='ylog'> log </label>
    </div>

  <select class='js-example-placeholder-multiple' name='y' id='y' multiple='multiple' autofocus>

  {% for key in data.keys() %}
    <option value='{{ key }}' {% if key in ykeys %} checked {% endif %}>
      {{ key }}
    </option>
  {% endfor %}

  </select>

<div class='log-controls'>
    <input type='checkbox' id='xlog' name='xlog'>
    <label for='xlog'> log </label>
</div>

  <select class='js-example-placeholder-single' name='x' id='x'>

    <!-- select2 requires an empty option for placeholder in single selects -->
    <option></option>

    {% for key in data.keys() %}
    <option value='{{ key }}' {% if key == xkey %} checked {% endif %}>
    {{ key }}
    </option>
    {% endfor %}
  </select>

  <button class='btn' id='update-button' onclick='update_plot()'>
    Update
  </button>
</figcaption>

{% endblock %}
